* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 40px;

}

.logo img{
    width: 40px;
}

.nav-items{
    display: flex;
    list-style: none;
    gap: 30px;
}
.nav-item{
    color: #5d5f79;
}


/* Hero-section */

.hero-container{
    padding: 20px 40px;
    display: grid;
    height: 700px;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr  ;
    gap: 20px;
}

.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-wrapper{
    grid-column: 1/3;
   
}
.new-card-wrapper{
    grid-row: span 2;
    background-color: #00001a;
    padding: 20px;
   
}
.new{
    color: #e9ab53;
    font-weight: 800;
    font-size: 40px;


}

.new-card{
    padding-bottom:  20px;
    padding-top: 20px;
    
    
}

.new-card h3{
    color: #fffdfa;
    padding-bottom: 10px;
}

.new-card p{
    font-size: 15px;
    color: #c5c6ce;
}

.border{
    border-bottom: #5d5f79 solid 1px;
}

.Read-more-container{
    display: flex;
    grid-column: 1/3;
    gap: 70px;
    justify-content: center;
}

.h1-text{
    flex-basis: 50%;
    font-size: 26px;
    
   
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
   
}

.text-wrapper p{
    font-size: 15px ;
    color: #5d5f79;
    padding-bottom: 15px;
    line-height: 1.8;
}

.btn{
    background-color: #f15e50;
    padding: 10px 30px ;
    text-decoration: none;
    font-weight: 800;
    color: black;
}



/* rating section */

.rating-container{
 padding: 20px 40px;
 display: flex;
 justify-content: space-between;

 
 
}

.rating-card{
    display: flex;
    gap: 10px;
    
    
}   

.rating-img{
    height: 150px;
    
}

.rating-text{
    display: flex;
    gap: 20px;
    flex-direction: column;

    
    
}

.rating-h2 {
    font-size: 40px;
    padding-top: 0;
    color: #f15e50;
}



